@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow-x: hidden;
}
@font-face {
  font-family: 'CabinetGrotesk-Thin';
  src:url('../public/CabinetGrotesk_Complete/Fonts/TTF/CabinetGrotesk-Variable.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('../public/CabinetGrotesk_Complete/Fonts/TTF/CabinetGrotesk-Regular.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
/* Hide the default navigation symbols */
.swiper-button-next::after,
.swiper-button-prev::after {
   display: none;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #5CD2DD !important;
  color: white; 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #5CD2CC !important;
}
#prev{
  color: white;
  width: 40px;
  height:30px;
}
#next{
  color: white;
   width: 40px;
  height:30px;
}